@import "../../assets/variables/_variables.scss";
button {
  margin: 3px;
  transition: all 0.2s;
  background: $red;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  color: $white;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    transition: all 0.2s;
    background: $light-red;
  }
  &:active {
    background: $dark-red;
  }
  &:disabled {
    background: $lightest-grey1;
    color: $grey;
  }
}
button.secondary {
  color: $light-grey;
  background: transparent;
  border: 1px solid $light-grey;
  &:hover {
    background: $lightest-grey;
  }
  &:active {
    background: $light-grey;
    border: 1px solid $grey;
    color: $grey;
  }
  &:disabled {
    background: $lightest-grey1;
    border: 1px solid $light-grey;
    color: $lightest-grey;
  }
}
