@import "../../assets/variables/_variables.scss";

.card {
  height: 364px;
  width: 380px;
  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
  border-radius: 4px;
  display: flex;
  flex-direction: column;

 .command{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    img{
      height: 150px;
      width: 150px;
    }
  }

  .player{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
    img{
      height: 207px;
      width: 274px;
    }
  }

  &_description {
    height: 100px;
    padding: 19px;
    font-size: 18px;
    background: $dark-grey;
    border-radius: 0px 0px 4px 4px;

    font-style: normal;
    font-weight: 500;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;

    .title {
      color: $white;
      font-size: 18px;

      .red {
        color: $red;
      }
    }

    .subtitle {
      font-size: 14px;
      color: $light-grey;
    }
  }
}
