$dark-grey:     #303030 !global;
$grey:          #707070 !global;
$light-grey:    #9C9C9C !global;
$lightest-grey: #D1D1D1 !global;
$lightest-grey1:#F6F6F6 !global;
$white:         #ffffff !global;
$dark-red:      #C60E2E !global;
$red:           #E4163A !global;
$light-red:     #FF5761 !global;
$lightest-red:  #FF768E !global;
$blue:          #344472 !global;


$gradient:   linear-gradient(120deg, #707070 0%, #393939 100%);