@import "../../assets/variables/_variables.scss";
.menu-item {
  cursor: pointer;
  transition: all 0.2s;
  padding: 16px;
  color: $light-grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  a {
    color: inherit;
    margin-top: 4px;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
  }

  &:hover {
    transition: all 0.2s;
    color: $lightest-red;
  }
  a.active {
    color: $red;
  }
  svg{
      height: 24px;
      width: 24px;
  }
}
