.player.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  height:100%;
  overflow: hidden;
  .image {  
    object-fit: contain;
    width: 20em;
    max-width: 100%;

  }
}


.command.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  margin: auto;
  padding: 10px;
  .image {
    object-fit: contain;
    width: 10em;
    max-width: 80%;
  }
}
