@import "../../assets/variables/_variables.scss";


  table.table {

    background-color: $white;
    border-spacing: 0;
    width: 100%;
    border: 1px solid $light-grey;
    border-radius: 10px 10px 0px 0px;
    color: $grey;
    @media screen and (max-width: $sm){
      margin: 0;
      border:0;
 
      .hidden-sm {
        display: none;
      }
    }
    thead {
      tr {
        th {
          padding: 14px 32px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 25px;
          color: $grey;
          text-align: left;
        }
      }
    }
    tbody {
      tr {
        .number {
          width: 40px;
          text-align: center;
        }
        td {
          transition: all 0.2s;
          text-align: left;
          padding: 7px 32px;
          border-spacing: 0;
          border: none;
          border-top: 1px solid $light-grey;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;

          .player {
            display: flex;
            align-items: end;
            .avatar {
              height: 48px;
              width: 48px;
              margin-left: -5px;
              display: flex;
              justify-content: center;

              overflow: hidden;
              border-radius: 50%;
              margin-right: 15px;
              img {
                height: 100%;
              }
            }
            .name {
              font-size: 1em;
            }
            .position {
              color: $light-grey;
              font-size: 0.87em;
            }
          }
        }
      }
      tr:hover {
        transition: all 0.3s;
        background-color: $lightest-grey1;
        color: $dark-grey;
        .position {
          color: $dark-grey;
        }
      }
    }
  }

