@font-face {
  font-family: Avenir;
  src: url("assets/fonts/AvenirLTStd-Black.otf") format("otf")
}

@import './assets/variables/_variables.scss';

.App {
  font-family: Avenir, sans-serif;
  min-height: 100vh;
  background: $lightest-grey1;
  padding: 15px;
}
