
@import './assets/variables/_variables.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

@font-face {
  font-family: Avenir;
  src: url("assets/fonts/AvenirLTStd-Book.otf") format("otf")
}

.App {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  font-family: Avenir, sans-serif;
  min-height: 100vh;
  background: $lightest-grey1;
  padding: 90px 15px;
}
