@import "./common/variables/_variables.scss";

body {

  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: $xl) {
    font-size: 12px;
  }

  @media screen and (max-width: $lg) {
    font-size: 10px;
  }

  @media screen and (max-width: $md) {
    font-size: 9px;
  }

  @media screen and (max-width: $sm) {
    font-size: 8px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Avenir;
  src: url("assets/fonts/AvenirLTStd-Book.otf") format("otf");
}

a {
  text-decoration: inherit;
}



.pagination {
  padding: 0;
  display: flex;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  li {
    color: $grey;
    border-radius: 4px;
    list-style-type: none;
  }

  li a {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: none;
    transition: 0.1s;
  }

  li:hover:not(.active) {
    color: $white;
    transition: 0.1s;
    background-color: $lightest-red;
  }

  .active {

    color: $white;
    background-color: $dark-red;
  }
}